<!DOCTYPE html>
<html>
  <head>
    <title>FoodHax Map</title>
    <style>
      #map {
        flex: 1;
        width: 100%;
      }
      body, html {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
      }
      header {
        text-align: center;
        padding: 10px;
        background-color: #206D15;
        font-size: 14px;
        color: #f5f3f3;
      }
    </style>
    <link rel="icon" href="../../static/img/CartIcon.png" type="image/png">
  </head>
  <body>
    <header style="text-align:center; background-color: #206D15; color: #f5f3f3; flex: 0 1 10vh;">
    <img src="../../static/img/WhiteLogo.png" alt="FoodHax Logo" style="height: 10vh;">
    
  </header>
    <div id="map"></div>

    <!-- Google Maps API -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8exeXURFSGfv1X6HK9Pu0d_dRCyZ1quE&callback=initMap"
      async
      defer
    ></script>

    <script>
      let map;

      function initMap() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      }

      function showPosition(position) {
        const userLocation = { lat: position.coords.latitude, lng: position.coords.longitude };

        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 14,
          center: userLocation,
        });

        // Full list of markers
        const markers = [
          { pos: userLocation, title: "Your Location", icon: "blue-dot.png", info: "You are here" },
          { pos: { lat: 40.444815846868735, lng: -79.957267501227 }, title: "Pitt Pantry  (only for Pitt affiliated)", icon: "green-dot.png", info: "4024 Ohara St, Pittsburgh, PA 15213-2604"},
          { pos: { lat: 40.43956379804762, lng: -79.96374836101927 }, title: "Carlow University - Food Pantry", icon: "green-dot.png", info: "Aiden Hall"},
          { pos: { lat: 40.434532095039, lng: -79.95270791132205 }, title: "St. George Antiochian Orthodox Church", icon: "green-dot.png", info: "3400 Dawson St, Pittsburgh, PA 15213"},
          { pos: { lat: 40.433437189556074, lng: -79.96130754554716 }, title: "Community Human Services - Food Pantry", icon: "green-dot.png", info:"370 Lawn St, Pittsburgh, PA 15213-4214"},
          { pos: { lat: 40.42866017767649, lng: -79.95242427518 }, title: "New Light Baptist Church - Food Pantry", icon: "green-dot.png", info: "3803 Frazier St, Pittsburgh, PA"},
          { pos: { lat: 40.44875195595659, lng: -79.95582270227996 }, title: "Islamic Center of Pittsburgh - Food Pantry", icon: "green-dot.png", info: "4100 Bigelow Blvd, Pittsburgh, PA 15213-1408" },
          { pos: { lat: 40.45130223377264, lng: -79.95203119261022 }, title: "Pittsburgh Community Services", icon: "green-dot.png", info: "249 N Craig St, Pittsburgh, PA" },
          { pos: { lat: 40.44914570433488, lng: -79.96950665614109 }, title: "Calvary Baptist Church Food Pantry", icon: "green-dot.png", info: "2629 Wylie Ave, Pittsburgh, PA 15219-4552" },
          { pos: { lat: 40.42588245312482, lng: -79.94291020400222 }, title: "St. Paul Cathedral Parish - St. Rosalia", icon: "green-dot.png", info: "411 Greenfield Ave, Pittsburgh, PA 15207" },
          { pos: { lat: 40.45072936202302, lng: -79.9691844440019 }, title: "Bethel AME Church - Fresh Market", icon: "green-dot.png", info: "2720 Webster Ave, Pittsburgh, PA" },
          { pos: { lat: 40.43846720439091, lng: -79.97734413855592 }, title: "<a href='pantries/jubileekitch.html'>Jubilee Association, Inc. Soup Kitchen</a>", icon: "orange-dot.png", info: "2005 Wyandotte St, Pittsburgh, PA 15219" },
          { pos: { lat: 40.44589756798703, lng: -79.97634354670497 }, title: "Central Baptist Church", icon: "green-dot.png", info: "2200 Wylie Ave, Pittsburgh, PA 15219" },
          { pos: { lat: 40.4567941893112, lng: -79.96713561458819 }, title: "<a href='pantries/jubileepantry.html'>Jubilee Association, Inc. Food Pantry</a>", icon: "orange-dot.png", info: "3103 Brereton St, Pittsburgh, PA 15219" },
          { pos: { lat: 40.43751480018081, lng: -79.98448121226967 }, title: "Uptown Partners Fresh Market", icon: "green-dot.png", info: "1518 Forbes Ave, Pittsburgh, PA 15219-5112" },
          { pos: { lat: 40.4380129156934, lng: -79.98496786938608 }, title: "Shepherd's Heart Fellowship", icon: "green-dot.png", info: "13 Pride St, Pittsburgh, PA 15219" },
          { pos: { lat: 40.45649370567239, lng: -79.93819896938724 }, title: "First Charities, Inc.", icon: "green-dot.png", info: "5401 Centre Ave, Pittsburgh, PA 15232" },
          { pos: { lat: 40.41508886487938, lng: -79.94525311693054 }, title: "St. John the Evangelist - Food Pantry", icon: "green-dot.png", info: "4537 Chatsworth St Pittsburgh, PA 15207-1560" },
          { pos: { lat: 40.42820840159464, lng: -79.98499391059687 }, title: "Mary, Queen of Peace Parish", icon: "green-dot.png", info: "81 S 13th St, Pittsburgh, PA 15203-1253" },
          { pos: { lat: 40.42926311509552, lng: -79.98643962171137 }, title: "Direct Distribution - Southside", icon: "green-dot.png", info: "1 N. Linden St, Duquesne, 15110, pittsburgh" },
          { pos: { lat: 40.46194565060221, lng: -79.94506967820334 }, title: "Catholic Community of Bloomfield Food Pantry", icon: "green-dot.png", info: "4712 Liberty Ave, Pittsburgh, PA 15224" },
          { pos: { lat: 40.42294447828398, lng: -79.98381732912466 }, title: "St. Paul's Monastery", icon: "green-dot.png", info: "148 Monastery Ave, Pittsburgh, PA 15203" },
          { pos: { lat: 40.465199844716125, lng: -79.96393663004278 }, title: "Saint Pio Of Pietrelcina Parish - Food Pantry", icon: "green-dot.png", info: "The Capuchin Center, 204 37th Street, Pittsburgh, PA 15201" },
          { pos: { lat: 40.41921262360374, lng: -79.92816321933759 }, title: "JFCS Squirrel Hill Community Food Pantry", icon: "green-dot.png", info: "828 Hazelwood Ave, Pittsburgh, PA" },
          { pos: { lat: 40.410291809030554, lng: -79.9749613600152 }, title: "Lighthouse Memorial Christian Center", icon: "green-dot.png", info: "810 Fisher St, Pittsburgh, PA 15210" },
          { pos: { lat: 40.40702188704202, lng: -79.94179805819495 }, title: "Hazelwood Food Pantry", icon: "green-dot.png", info: "4901 2nd Ave Ste 2, Pittsburgh, PA 15207" },
          { pos: { lat: 40.4415101718803, lng: -79.9991892398613 }, title: "First Presbyterian Church Food Pantry", icon: "green-dot.png", info: "Calvert Memorial Presbyterian Church in Pittsburgh's Etna Borough"},
          { pos: { lat: 40.44009795254035, lng: -79.99952642963532 }, title: "<a href='pantries/urban.html'>Urban League of Greater Pittsburgh - Hunger Services</a>", icon: "orange-dot.png", info: "332 5th Ave, Pittsburgh, PA 15222" },
          { pos: { lat: 40.42011963935412, lng: -79.9928048663241 }, title: "Direct Distribution - Hilltop Alliance", icon: "green-dot.png", info: "209 Bausman St, Pittsburgh, PA 15210" },
          { pos: { lat: 40.49799527657805, lng: -79.94456818396891 }, title: "<a href='pantries/bread.html'>Bread Of Life Food Pantry</a>", icon: "orange-dot.png", info: "94 Locust St, Etna, PA 15223-2174" }
        ];

    const streetViewService = new google.maps.StreetViewService();

markers.forEach(m => {
  const marker = new google.maps.Marker({
    position: m.pos,
    map: map,
    title: m.title,
    icon: "http://maps.google.com/mapfiles/ms/icons/" + m.icon
  });

  streetViewService.getPanorama({ location: m.pos, radius: 50 }, (data, status) => {
    let infoWindow;

    if (status === "OK") {
      infoWindow = new google.maps.InfoWindow({
        content: `
          <div style="color:black; font-weight:bold; font-size:14px;">
            ${m.title}<br>
            ${m.info ? m.info + "<br>" : ""}
            <div id="pano-${m.title.replace(/\s+/g, '-')}" style="width:300px;height:150px;"></div>
          </div>
        `
      });

      marker.addListener("click", () => {
        infoWindow.open(map, marker);

        // Once opened, initialize panorama
        google.maps.event.addListenerOnce(infoWindow, "domready", () => {
          new google.maps.StreetViewPanorama(
            document.getElementById(`pano-${m.title.replace(/\s+/g, '-')}`), {
              pano: data.location.pano,
              pov: { heading: 34, pitch: 10 },
              zoom: 1
            }
          );
        });
      });

    } else {
      infoWindow = new google.maps.InfoWindow({
        content: `
          <div style="color:black; font-weight:bold; font-size:14px;">
            ${m.title}<br>
            ${m.info ? m.info + "<br>" : ""}
            <p>No Street View available nearby.</p>
          </div>
        `
      });

      marker.addListener("click", () => {
        infoWindow.open(map, marker);
      });
    }
  });
});

      }

      function showError(error) {
  switch(error.code) {
    case error.PERMISSION_DENIED:
      alert("User denied the request for Geolocation.");
      break;
    case error.POSITION_UNAVAILABLE:
      alert("Location information is unavailable.");
      break;
    case error.TIMEOUT:
      alert("The request to get user location timed out.");
      break;
    case error.UNKNOWN_ERROR:
      alert("An unknown error occurred.");
      break;
  }
}
    </script>
  </body>
</html>
